.centered {
    display:flex;
    justify-content: space-evenly;
}

#num {
    border: 1px solid blue;
    padding: 8px 20px;
    border-radius: 8px;
}

h1, h2 {
    margin-top: 3rem;
    padding-top: 1em;
        font-size: large;
  }

  h1 { border-top: 2px groove blue; }
  h2 { border-top: 1px dotted blue; }

  #buttons, #xkcd {
      margin-bottom: 20px;
  }

  .alt {
      font-style: italic;
  }